auto-install-peers=true
engine-strict=true
legacy-peer-deps=false
prefer-workspace-packages=true
public-hoist-pattern=*eslint*,*prettier*
node-linker=hoisted
registry=https://registry.npmjs.org/
save-workspace-protocol=false
shamefully-hoist=false
strict-peer-dependencies=false