VITE_APP_BASE_URL=""
VITE_PUBLIC_API_URL=""

# Services
VITE_GOOGLE_API_KEY=""
GOOGLE_API_KEY=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Email
RESEND_API_KEY=""
RESEND_FROM_EMAIL=""
RESEND_FROM_NAME=""
