# Copy this file to .env.development.local

APP_VARIANT="dev"
EXPO_APPLE_TEAM_ID="<apple-team-id>"
EXPO_PUBLIC_API_BASE_URL="http://localhost:4040"
EXPO_PUBLIC_MOBILE_PASSKEY_ENABLED="false"
EXPO_PUBLIC_POSTHOG_API_KEY="<posthog-public-key>"
EXPO_PUBLIC_POSTHOG_HOST="https://us.i.posthog.com"
