# Environment
NODE_ENV=""

# API port
PORT=4040
API_URL=http://localhost:4040

# Data
DATABASE_URL=""
REDIS_URL=""

# Authentication
AUTH_PASSKEY_RP_ID=api.ponti.io
AUTH_PASSKEY_ORIGIN=https://api.ponti.io
BETTER_AUTH_SECRET=""

# Storage
R2_ENDPOINT=""
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""
R2_BUCKET_NAME=""

# UI
NOTES_URL=""

# Google
GOOGLE_API_KEY=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Twitter
TWITTER_CLIENT_ID=""
TWITTER_CLIENT_SECRET=""

# Email
RESEND_API_KEY=""
RESEND_FROM_EMAIL=""
RESEND_FROM_NAME=""d

# Services
GEOCODE_EARTH_API_KEY=""
NOTION_SECRET=""
OPENAI_API_KEY=""
TAVILY_API_KEY=""

# Sandbox
# PLAID_API_KEY=""
# Production
PLAID_API_KEY=""
PLAID_CLIENT_ID=""

APPLE_CLIENT_ID=com.pontistudios.hakumi.auth
APPLE_CLIENT_SECRET=eyJhbGciOiJFUzI1NiIsImtpZCI6IjI0MzhUNU1HTEgifQ.eyJpc3MiOiIzUUhKMktOOEFMIiwic3ViIjoiY29tLnBvbnRpc3R1ZGlvcy5oYWt1bWkuYXV0aCIsImF1ZCI6Imh0dHBzOi8vYXBwbGVpZC5hcHBsZS5jb20iLCJpYXQiOjE3NzE5ODA5NTgsImV4cCI6MTc4NDk0MDk1OH0.9NbIOhaWVbjcr0p7ipinpZmklKhehesjU7k63zHjDYRwBH-AZUAJREEH96hr9ftnj6CO6lYAoVaZB4PG1hpi9A
APPLE_TEAM_ID=3QHJ2KN8AL
AUTH_E2E_ENABLED=true
AUTH_E2E_SECRET=otp-secret
AUTH_TEST_OTP_ENABLED=true
AUTH_TEST_OTP_TTL_SECONDS=300
